FQDN=razerblade
DNS2=localhost
ORGNAME=MIT
NSCOMMENT="IIS Certificate"
EXTKEYUSAGE=clientAuth,serverAuth
[ca]
default_ca = req

[req]
default_bits = 16384
default_md = sha384
distinguished_name = req_distinguished_name
attributes = req_ext
x509_extensions = v3_ext
dirstring_type = nobmp
prompt = no

[req_distinguished_name]
C=US
ST=Massachusetts
L=Cambridge
O=$ORGNAME
OU=SecOps
CN=$FQDN

[req_ext]
nsComment=@NSCOMMENT
subjectAltName=alt_names
prompt=no

[v3_ext]
subjectKeyIdentifier=hash
authorityKeyIdentifier=keyid:always,issuer:always
basicConstraints=CA:true
keyUsage=digitalSignature,nonRepudiation,keyEncipherment,dataEncipherment
extendedKeyUsage=$EXTKEYUSAGE

[alt_names]
DNS.1=$FQDN
DNS.2=$DNS2
