[ca]
default_ca=req

[req]
default_bits=16384
default_md=sha384
distinguished_name=req_distinguished_name
attributes=req_ext
x509_extensions=v3_ext
dirstring_type=nobmp
prompt=no

[req_distinguished_name]
C=Country in two letters: for USA - US, for Mexico - MX, for Brazil - BR, and so on.
ST=State
L=City
O=Organization
OU=OrganizationUnit
CN=hostname1

[req_ext]
nsComment='OpenSSL Certificate for my PC'
prompt=no

[v3_ext]
subjectKeyIdentifier=hash
authorityKeyIdentifier=keyid:always,issuer:always
keyUsage=critical,digitalSignature,nonRepudiation,keyEncipherment,dataEncipherment
basicConstraints=critical,CA:TRUE,pathlen:3
extendedKeyUsage=clientAuth,serverAuth
subjectAltName=@alt_names

[alt_names]
DNS.1=hostname1
DNS.2=hostname2
DNS.3=hostname3

In case You have fixed IP.
Attach at the end of DNS.1=hostname1 append IP.1=192.168.0.1, DNS.2=hostname2 append IP.2=176.16.0.2, DNS.3=hostname3 append 10.0.0.1, all the IP's are internal use Yours.
